:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  --grey-400: hsl(0, 0%, 49%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-150: hsl(0, 0%, 90%);
  --grey-100: hsl(0, 0%, 95%);
  --yolo: red;

  --gradient-1-start: hsl(0, 0%, 0%);
  --gradient-1-end: hsl(0, 0%, 0%);

  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.gradient {
  background: linear-gradient(to right, var(--gradient-1-start), var(--gradient-1-end));
}

@media (max-width: 1560px) {
  .responsive-width {
    padding-inline: var(--spacing-500);
  }
}

.text-preset-1 {
  font-size: 200px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.2px;
}

.text-preset-2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0;
}

.text-preset-2-bis {
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-3-bis {
  font-size: 14px;
  line-height: 200%;
  letter-spacing: -0.25px;
}

.text-preset-4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0;
}

.text-preset-5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0;
}

.text-preset-6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 2.5px;
}

.text-preset-7 {
  font-size: 10px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2px;
}

main {
  margin-top: var(--spacing-500);
}

@media (max-width: 900px) {
  .text-preset-1 {
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0;
  }

  .text-preset-2 {
    font-size: 24px;
    line-height: 125%;
  }

  .text-preset-3 {
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.25px;
  }

  .text-preset-4 {
    font-size: 10px;
    line-height: 120%;
  }

  .text-preset-5 {
    font-size: 9px;
    line-height: 125%;
    letter-spacing: 2px;
  }
}

